@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
        width: 100vw;
        height: 100vh;
        background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png');
}

#tela {
    position: relative;
    top: 82.5px;
    left: 24px;
    height: 468px;
    width: 263px;

}

#redes-sociais {
    width: 100px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

#redes-sociais img:hover {
    border: 1px solid rgba(255, 255, 255, 0.801);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.612);
    transform: translate(-3px, -3px);
    transition: .3s, border .8s;
    
}
